.container {
  width: 100%;
  margin: 0 auto;
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1280px) {
    width: 1280px;
  }
}
body {
  padding: 0;
}
li {
  list-style: none;
}
ul {
  padding: 0;
}
p {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.header {
  box-shadow: 0 0 5px 5px (rgba(88, 88, 88, 0.256));
  outline: none;
  padding: 0;
  display: flex;
  align-items: center;

  &_top-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    & p {
      font-weight: 700;
      font-size: 20px;
      padding-left: 10px;
    }
  }
  &_logo {
    // margin-right: auto;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    background-color: greenyellow;
    padding: 10px 0;
    margin-right: 20px;
    font-weight: 700;
    color: #fff;
    position: relative;
  }
  &_list {
    display: flex;
    justify-content: space-between;
    &_item {
      &:hover a,
      &:focus a {
        color: rgb(0, 0, 0);
      }
      &__link {
        color: rgb(0, 106, 11);
        text-transform: uppercase;
        font-weight: 700;
        transition: color 300ms linear;
      }
    }
    &_item button {
      background-color: transparent;
      border: none;
      display: flex;
      align-items: center;
      & .burger span {
        width: 20px;
        height: 3px;
        display: block;
        background-color: black;
        &:not(:last-child) {
          margin-bottom: 2px;
        }
      }
    }
  }
}
nav {
  transform: translateY(10px);
}
.header_btn__text {
  margin-left: 10px;
  transform: translateY(-2px);
  padding-right: 10px;
}
.header_btn {
  &:hover {
    background-color: rgba(46, 45, 45, 0.425);
  }
}
.logo_gif {
  position: absolute;
  bottom: 9px;
  right: 21px;
}
